.l-globalFooter {
  border-top: 1px solid var(--color-border);
}

.l-globalFooter__inner {
  padding-block: 1rem;
}

.l-globalFooter__socialLinks {
  display: flex;
  justify-content: center;
}

.l-globalFooter__socialLinkWrapper {
  width: 2rem;
}

.l-globalFooter__socialLink {
  display: block;

  @media (any-hover: hover) {
    transition: opacity 0.12s ease-out;

    &:hover {
      opacity: 0.7;
    }
  }
}
