@import "tailwindcss";

@theme {
  --font-sans: "Jost", serif;
  --font-mono:
    ui-monospace, sfmono-regular, consolas, "Liberation Mono", menlo, monospace;
  --font-calligraphy: "Knewave", serif;
}

@layer base {
  html {
    height: 100%;
  }

  body {
    color: var(--color-green-950);
    background-color: var(--color-yellow-50);
    min-height: 100%;
  }
}

@layer components {
  .post-content {
    font-weight: var(--font-weight-medium);

    h2 {
      margin-top: calc(var(--spacing) * 10);
      font-size: 1.75rem;
      font-weight: var(--font-weight-extrabold);
      line-height: 1.25;
    }

    h3 {
      margin-top: calc(var(--spacing) * 8);
      font-size: var(--text-2xl);
      font-weight: var(--font-weight-bold);
      line-height: 1.25;
    }

    p {
      margin-block: calc(var(--spacing) * 4);
    }

    ul {
      margin-block: calc(var(--spacing) * 4);
      padding-left: calc(var(--spacing) * 4);
      list-style-type: disc;
    }

    a {
      @media (any-hover: hover) {
        transition-property: opacity;
        transition-timing-function: var(--ease-out);
        transition-duration: var(--default-transition-duration);
        text-decoration-line: underline;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    :is(code, pre) {
      font-size: var(--text-xs);
    }

    pre {
      border-radius: var(--radius-lg);
      margin-block: calc(var(--spacing) * 4);
      max-width: calc(100vw - var(--spacing) * 8);
      overflow: auto;
      padding: calc(var(--spacing) * 4);
    }

    :not(pre) {
      > code {
        background-color: #f7f1d2;
        border-radius: var(--radius-sm);
        padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 1.25);
      }
    }
  }
}
