.p-teasers {
  padding-block: 2rem;

  > * + * {
    margin-top: 2rem;
  }
}

.p-teasers__item {
  //
}

.p-teasers__title {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.25;
}

.p-teasers__link {
  color: var(--color-text-neutral-primary);
  text-decoration: none;

  @media (any-hover: hover) {
    &:hover {
      text-decoration: underline;
    }
  }
}

.p-teasers__date {
  color: var(--color-text-secondary);
  margin-top: 0.25rem;
}
