html {
  height: 100%;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-family-sans-serif);
  letter-spacing: 0;
  line-height: 1.5;
  min-height: 100%;
}

a {
  color: inherit;
}

pre,
code {
  font-family: var(--font-family-monospaced);
}
