:root {
  --color-border: #dbdbdb;
  --color-background: #fffcea;
  --color-text-primary: #1b4332;
  --color-text-secondary: #6c6c6c;
  --font-family-sans-serif: "Jost", serif;
  --font-family-calligraphy: "Knewave", serif;
  --font-family-monospaced:
    ui-monospace, sfmono-regular, consolas, "Liberation Mono", menlo, monospace;
}
