:root {
  --color-background-neutral-primary: #1e1e1e;
  --color-background-neutral-secondary: #2d2d2d;
  --color-background-neutral-tertiary: #393939;
  --color-border-brand-primary: #dc8e8e;
  --color-border-neutral-primary: #8c8c8c;
  --color-text-brand-primary: #dc8e8e;
  --color-text-neutral-primary: #e3e3e3;
  --font-family-monospaced: ui-monospace, sfmono-regular, consolas,
    'Liberation Mono', menlo, monospace;
}
