:root {
  --color-border: #e5e5e5;
  --color-background: #fffcea;
  --color-text-primary: #1b4332;
  --color-text-secondary: #8f8f8f;
  --font-family-monospaced: ui-monospace, sfmono-regular, consolas,
    'Liberation Mono', menlo, monospace;
}
