.container {
  border-bottom: 1px solid var(--color-border-neutral-primary);
  padding-bottom: 1rem;
}

.title {
  color: var(--color-text-brand-primary);
  font-family: var(--font-family-display);
  font-size: 2rem;
}

.date {
  margin-top: 0.5em;
}
