.container {
  border-top: 1px solid var(--color-border);
}

.inner {
  padding-block: 1rem;
}

.socials {
  display: flex;
  justify-content: center;
}

.social {
  width: 2rem;
}

.socialLink {
  display: block;

  @media (any-hover: hover) {
    transition: opacity 0.12s ease-out;

    &:hover {
      opacity: 0.7;
    }
  }
}
